/*
--------------------------------------------
ESTRUTURAÇÃO BASE
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** FOOTER
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

/* VARIÁVEIS */
:root {
    --black: #19191b;
    --white: #f8f9fa;
    --gray: #696871;
    --purple: #5454d4;
    --purple-hover: #3f3faf;
    --orange: #ff7143;
    --orange-hover: #e25e31;
    --primary-font: "DM Sans", sans-serif;
    --secondary-font: "Mulish", sans-serif;
}
/* VARIÁVEIS */

/* GERAL */
.container {
    width: 95vw;
    max-width: 1180px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 , a{
    font-family: var(--primary-font);
}

p, span {
    font-family: var(--secondary-font);
}

.link__btn {
    padding: 14px 32px;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
}

.link__btn--orange {
    background-color: var(--orange);
}

.link__btn--orange:hover {
    background-color: var(--orange-hover);
}

.link__btn--purple {
    background-color: var(--purple);
}

.link__btn--purple:hover {
    background-color: var(--purple-hover);
}

/* GERAL */

/* BODY */
body {
    background-color: var(--white);
    padding-top: 88px;
}
/* BODY */

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 250, 250, .6);
    backdrop-filter: blur(6px);
    box-shadow: 0px 2px 24px rgba(250, 250, 250, 0.5);
}

div#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header__nav, .header__btn {
    display: none;
}

.header__menu i {
    font-size: 1.5rem;
}
/* HEADER */

/* INICIAL */
 main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 #section__started {
     height: calc(100vh - 88px);
     min-height: 350px;

     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
 }

 .started__image {
     display: none;
 }

 .started__content {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     max-width: 500px;
 }

 .started__content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.started__content p {
    font-size: 1.1rem;
    list-style: 1.5rem;
    color: var(--gray);
    margin-bottom: 1.2rem;
}

.features__cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.features__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    max-width: 300px;
}

.features__card h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    margin-bottom: 0.5rem;
}

.features__card p {
    color: var(--gray);
    font-size: 1rem;
    text-align: center;
}

.features__card img {
    width: 150px;
    height: 100px;
    object-fit: contain;
}

  /* INICIAL */
  
  /* MEDIA QUERIES */
  @media screen and (min-width: 480px) {

    .features__cards {
        grid-template-columns: 1fr 1fr;
    }

  }
  
  @media screen and (min-width: 600px) {
      .started__image {
        display: flex;
      }

      .started__image img {
          width: 50vw;
          max-width: 600px;
          max-height: 80vmin;
      }

  }
  
  @media screen and (min-width: 800px) {
    .header__nav {
        display: flex;
        align-items: center;
    }

    .header__btn {
        display: flex;
    }

    .header__menu {
        display: none;
    }

    .header__nav .header__nav__link {
        color: var(--gray);
        font-weight: 700;
        font-size: 1rem;
        margin-left: 24px;
    }

    .header__nav .header__nav__link--active {
        color: var(--black);
        font-weight: 700;
        font-size: 1rem;
        position: relative;
    }

    .header__nav .header__nav__link--active::before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: var(--purple);
        position: absolute;
        bottom: -8px;
    }

    .started__content h1 {
        font-size: 3rem;
    }

    .features__cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

  }
  /* MEDIA QUERIES */
  